
#dataPageWrapper {
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(6, 1fr);
    width: 100%;
    height: 100%;
    overflow: auto;
}

#dataSubTabMenu {
    grid-area: 1/1/2/7;
    margin-top: 0.4rem;
    text-align: center;
}

.data-sub-tab-header {
    text-align: center;
    padding: 0.4rem 0.6rem;
    background: white;
    border-radius: 0.4rem;
    display: inline;
}
    .data-sub-tab-header:hover {
        color: blueviolet;
        cursor: pointer;
    }
    .data-sub-tab-header:active {
        transform: scale(0.9);
    }

.selected-sub-tab {
    background: blueviolet;
    color: white;
}
    .selected-sub-tab:hover {
            color: white;
        }

#quickSearchWrapper {
    grid-area: 1/1/1/7;
    margin-top: 1rem;
    text-align: center;
}

#quickSearchTitle {
    font-size: 3rem;
    margin: 2rem 0;
    display: inline-block;
}

#quickSearchIcon {
    grid-area: 2/1/2/2;
    width: 4rem;
    height: auto;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    border: solid 0.15rem #23478e2e;
    border-radius: 1.4rem;
    box-shadow: 0rem 0.2rem 0.1rem #616161;
    padding: 0.2rem;
    filter: hue-rotate(14deg);
}

#quickSearchFieldsWrapper {
    grid-area: 2/1/7/7;
}

.data-search-input {
    display: inline;
    width: 15%;
    margin-left: 1%;
}

#quickSearchButton {
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 0.9rem 3rem;
    background: #67a3fff0;
    color: white;
    border: solid 0.1rem aliceblue;
    box-shadow: 0rem 0.1rem 0.1rem #61616191;
}

    #quickSearchButton:active {
        background: #67a3ffbd;
        box-shadow: none;
        transform: scale(0.9);
        box-shadow: 0rem 0 0.2rem #61616191;
    }

#dataResultsWrapper {
    grid-area: 2/1/7/7;
}

.react-grid-Cell {
    user-select: all;
}

.form-control {
    height: calc(1em + 0.55rem + 2px);
}

#loadingGif {
    position: fixed;
    z-index: 2;
    width: 30rem;
    border-radius: 0.6rem;
    left: 53%;
    top: 50%;
}

