
#aboutWrapper {
    text-align: center;
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

#aboutLogoWrapper {
    grid-area: 1/1/1/4;
    border-bottom: 0.6rem solid rgba(0, 123, 255, 0.25);
    width: 100%;
    margin: 0 auto;
    background: aliceblue;
    box-shadow: 0.3rem 0rem 0.3rem;
}

#aboutLogo {
    grid-area: 1/1/1/2;
    width: 7rem;
    height: 6rem;
    float: left;
    display: -webkit-box;
    margin: 1rem -7rem 0rem 2rem;
    background: white;
    border: #a0a3ff solid 0.05rem;
    border-radius: 1.1rem;
    box-shadow: #d2eaff 0rem 0.6rem 0.1rem;
    padding: 0.3rem;
}

#studyShowDetails {
    margin-top: 2rem;
    grid-area: 2/2/4/4;
    text-align: left;
}

.study-detail-label {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem;
}

.study-detail-datum {
    font-size: 1.1rem;
    margin: auto;
}