#formInfoContainer {
    position: absolute;
    z-index: 1;
    width: 20rem;
    height: 20rem;
}

#sitesLoadingGif {
    position: fixed;
    z-index: 2;
    width: 30rem;
    border-radius: 0.6rem;
    left: 33%;
    top: 33%;
}

