#footerWrapper {
    text-align: right;
    background: rgba(103, 164, 255, 0.31);
    grid-area: 13/1/12/13;
    box-shadow: 0 0 0.1rem #000000;
    border-bottom: 0.5rem #67a3ff69 solid;
}

#copyrightSymbol {
    width: 1.25rem;
    height: auto;
    display: inline;
    margin-left: 0.5rem;
}

#footerCopyRight {
    margin: 2rem 0.4rem 0 auto;
    font-size: 0.6rem;
}