* {
    list-style-type: none;
}
    *:hover {
        text-decoration: none;
    }
    *:focus {
        outline: none;
    }

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', monospace;
}

.normalize {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

ol, ul, dl {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

/*input[type=text] {
    background-color: #67a3ff0f;
    display: block;
    color: #0d0d0d;
    text-align: center;
    margin: 1rem auto;
    text-decoration: none;
    width: 18rem;
    font-size: 16px;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 0.3rem;
    box-shadow: 0rem 0.2rem 0.1rem #61616191;
}*/

input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0;
}

input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0.2;
}

input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0;
}

input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0.1;
}

.icon {
    grid-area: 1/1/5/5;
    margin: 1rem 0 2rem 2rem;
    width: 6rem;
    background: white;
    border: #a0a3ff solid 0.05rem;
    border-radius: 1.1rem;
    box-shadow: #d2eaff 0rem 0.6rem 0.1rem;
    padding: 0.2rem;
}