
.landing-page {
    text-align: center;
}

#laniakeaBackground {
    width: 26rem;
}

#laniakeaTitle {
    font-size: 10rem;
    color: rgba(0, 123, 255, 0.5);
}

#laniakeaSubtitle {
    font-size: 1.35rem;
}

#logo-landing-page {
    width: 14rem;
    height: auto;
    margin-top: 9rem;
}
    #logo-landing-page:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

.index-table {
    margin-top: 3rem;
}
