#layoutGrid {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(12, 1fr);
}

#pageWrapper {
    grid-area: 2/1/10/13;

    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

#footerWrapper {
    background: rgba(103, 164, 255, 0.31);
    grid-area: 13/1/12/13;
    box-shadow: 0 0 0.1rem #000000;
    border-bottom: 0.5rem #67a3ff69 solid;
}