
#studyPageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#studyMenuWrapper {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#studyTabsWrapper {
    grid-column: 2 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.study-tab {
    display: flex;
    font-size: 90%;
    text-align: center;
    margin: auto;
}

#studyTabContentWrapper {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
}

#studyInfoWrapper {
    grid-column: 1 / 4;
    grid-row: 1 / span 5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#treeMenuWrapper {
    grid-column: 1; 
    grid-row: 1;
    margin: 0;
    width: 33.333%;
    position: absolute;
    background: rgba(0, 123, 255, 0.07);
}

#studyButtonsWrapper {
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.add-site-wrapper, .add-subject-wrapper {
    padding: 1rem;
}

.add-site-wrapper {
    grid-row: 1;
    grid-column: 3;
}
.add-subject-wrapper {
    grid-row: 2;
    grid-column: 3;
}

.add-button {
    display: inline-block;
    animation: ensmallStudy 0.5s ease;
}
    .add-button:hover {
        filter: hue-rotate(-90deg);
        animation: enlargeStudy 0.3s ease;
    }
    .add-button:active {
        filter: hue-rotate(180deg);
        animation: ensmallStudy 0.3s ease;
    }

#studyShowDetails {
    margin: 1rem auto;
    padding: 0;
    grid-column: 2;
    grid-row: 1;
    width: 85%;
    text-align: center;
    animation: borderToLeft 0.3s ease;
}
    #studyShowDetails:hover {
        width: 90%;
        animation: borderToRight 0.3s ease;
    }
    #studyShowDetails li {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        margin-top: 1rem;
        border-bottom: solid 2px blueviolet;
    }

.study-detail-label {
    font-weight: bold;
    font-size: 0.8rem;
} 

#addSiteButtonLabel,
#addSubjectButtonLabel {
    font-size: 1.1rem;
    font-weight: bold;
}

#addSiteButtonLabel {
    color: #007BFF;
}

#addSubjectButtonLabel {
    color: #8500ff;
}


@keyframes enlargeStudy {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    80% {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

@keyframes ensmallStudy {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

@keyframes borderToRight {
    from {
        width: 85%;
        left: 0;
    }
    to {
        width: 90%;
        left: 5%;
    }
}

@keyframes borderToLeft {
    from {
        width: 90%;
        left: 5%;
    }
    to {
        width: 85%;
        left: 0;
    }
}